
.article {
	margin-left: 520px;
	font-size: 14px;
}
.heading {
	color: green; 
	float: center;
	margin-left: 200px;
	padding: 25px;
	font-size: 40px; 
	font-family: helvetica;
}
.nav {
	list-style-type: none; 
	float: right;
	margin: 10px;
	padding: 10px;
}
.aside {
	color: yellowgreen;
	font-size: 14px;
	font-family: helvetica;
	margin-bottom: -10px;
	padding: 10px;
}
a:link {
	color: yellowgreen;
}
.section {
	margin-top: -170px;
	margin-bottom: 50px;

}
.article {
	margin-left: 315px;
	font-size: 13px;
}
.h2 {
	color: yellowgreen; 
	font-size: 25px; 
	font-family: helvetica;
}
.subheading {
	color: yellowgreen;
	font-size: 18px; 
	font-family: helvetica;
}
p {
	color: olivedrab;
	font-size: 14px;
	font-family: helvetica;
	margin-top: 10px;
	margin-bottom: 10px;
}
.footer {
	margin: 10px;
	font-family: helvetica;
	font-size: 6px;
	color: olivedrab;
}